body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    height: 500px;
    justify-content: space-around;
    width: 80%;
}

.block_memo {
    flex: 1;
    margin: 10px;
    background-color: #e27f95;
    overflow-y: scroll; /* 允許垂直滾動 */
}

.block_calendar {
    flex: 1;
    margin: 10px;
    display: grid;
    place-items: center;
}

.calendar {
    height: 90%;
    width: 90%;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.calendar_header {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: #5CADAD;
    border: 1px solid #5c5c5c;
    border-radius: 20px 20px 0 0;
}

.year_picker {
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.month_change {
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bolder;
    user-select: none;
    -webkit-user-select: none;
    /* aspect-ratio: 1; */
    /* background-color: #f0f0f0; */
}

.month_picker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.calendar_week_day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 900;
    border-bottom: 1px solid #9d9d9d;
}

.calendar_week_day div {
    display: grid;
    place-items: center;
    background-color: #E0E0E0;
}

.calendar_body {
    height: auto;
    border-left: 1px solid #5c5c5c;
    border-right: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    border-radius: 0 0 20px 20px;
    background-color: #D1E9E9;
}

.calendar_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    place-items: center;
}

.calendar_days div {
    display: grid;
    place-items: center;
    font-size: xx-large;
    font-weight: bolder;
    cursor: default;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* margin: 10px; */
}

.calendar_add_but {
    margin-bottom: 5px;
}

.unselected_day {
    height: 50px;
    aspect-ratio: 1;
    /* margin: 10px; */
}

.selected_day {
    height: 50px;
    aspect-ratio: 1;
    /* margin: 10px; */
    background-color: #48916e;
    color: white;
    border-radius: 50%;
}

.no_event{
    /* background-color: #dbc753; */
    height: 5px;
    width: 40px;
    margin-bottom: 15px;
    margin-top: -5px;
}

.event_highlight {
    background-color: #5355db;
    height: 5px;
    width: 40px;
    margin-bottom: 15px;
    margin-top: -5px;
}

.title {
    font-size: 24px; /* 放大文字大小 */
    font-weight: bold; /* 設置粗體 */
    text-align: center; /* 文字置中 */
    /*border-bottom: 1px solid #ccc; !* 添加底部邊線 *!*/
    padding: 10px; /* 在底線下添加一些間距 */
    /*margin-bottom: 5px;*/
}

.memo_item {
    /*對外框做設定*/
    border-width: 3px;
    width: 92%;
    padding: 10px;
    text-align: center;
    background-color: rgb(230, 230, 240);

    /*外框圓潤化*/
    border-radius: 10px;

    /*對內部字體*/
    display: flex;
    justify-content: space-between;
    align-items: center; /*縱向居中對齊*/

    /*設定memoItem與背景框外圍的*/
    margin-left: 10px; /* 設定右邊間距 */
    margin-bottom: 5px;
}

.memo_item_title {
    text-align: left; /*文字左對齊*/
}

.memo_item_edit_button {
    margin-left: 280px; /*與delete按鈕之間縮小間距*/
    border-radius: 8px; /*外框圓潤化*/
}

.memo_item_delete_button {
    color: white; /* 設置按鈕內部文字顏色為白色 */
    background-color: #FF3358; /* 新增此行 */
    border-radius: 8px; /*外框圓潤化*/
}

.add_memo {
    float: right;
}