body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    height: 500px;
    justify-content: space-around;
    width: 80%;
}

.block_memo {
    flex: 1;
    margin: 10px;
    background-color: #e27f95;
}

.block_calendar {
    flex: 1;
    margin: 10px;
    background-color: #a0f0f0;
}

.memo_item {
    /*對外框做設定*/
    border-width: 3px;
    width: 545px;
    padding: 5px;
    text-align: center;
    background-color: rgb(230, 230, 240);
    /*外框圓潤化*/
    border-radius: 10px;
    /*對內部字體*/
    display: flex;
    align-items: center; /*縱向居中對齊*/

    margin-left: 10px; /* 設定右邊間距 */
    margin-top: 5px;
}

.memo_item_title {
    text-align: left; /*文字左對齊*/
}