body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    height: 500px;
    justify-content: space-around;
    width: 80%;
}

.block_memo {
    flex: 1;
    margin: 10px;
    background-color: #e27f95;
    overflow-y: scroll; /* 允許垂直滾動 */
}

.block_memo_top {

}

.block_memo_bottom {

}

.block_calendar {
    flex: 1;
    margin: 10px;
    background-color: #a0f0f0;
}

.title {
    font-size: 24px; /* 放大文字大小 */
    font-weight: bold; /* 設置粗體 */
    text-align: center; /* 文字置中 */
    /*border-bottom: 1px solid #ccc; !* 添加底部邊線 *!*/
    padding: 10px; /* 在底線下添加一些間距 */
    /*margin-bottom: 5px;*/
}

.memo_item {
    /*對外框做設定*/
    border-width: 3px;
    width: 530px;
    padding: 5px;
    text-align: center;
    background-color: rgb(230, 230, 240);

    /*外框圓潤化*/
    border-radius: 10px;

    /*對內部字體*/
    display: flex;
    align-items: center; /*縱向居中對齊*/

    /*設定memoItem與背景框外圍的*/
    margin-left: 10px; /* 設定右邊間距 */
    margin-bottom: 5px;
}

.memo_item_title {
    text-align: left; /*文字左對齊*/
}

.custom-button {
    display: inline-block;
    padding: 4px 8px;
    background-color: rgb(230, 230, 240);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* 添加邊距，使按钮之间有间隔 */
}